.logo, .form{
    position: relative;
    height: 100vh;
    padding: 32px;
}

.form{
    box-shadow: 0 4px 15px #00000040;
    h1{
        font-size: 24px;
        line-height: 24px;
    }

    p{
        font-size: 16px;
        line-height: 24px;
    }
   
    
}

.formContainer{
    max-width: 400px;
    
    label, .cadastro{
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 16px; 
        line-height: 24px;
        border: 1px solid #a684ff;
        svg{
            cursor: pointer;
            min-width: 24px;                    
        }
    }
    input{
        border: none;
        outline: none;
        font-size: 16px; 
        line-height: 24px;
        
    }
    input[type=submit]{
        border: 1px solid #a684ff;
        background-color: #a684ff;
        color: #fff;
        font-weight:A 600;
    }
    input[type=submit]:hover{
        cursor: pointer;
        background-color: transparent;
        color: #a684ff;
        
    }
}

.cadastro{
    font-size: 16px;
    text-align: center;
    color: #a684ff;
}

.cadastro:hover{
    background-color: #f5f5f5;
}

.logo::before{
    position: fixed;
    left: 0;
    content: '';
    width: 5rem;
    height: 100vh;
    background-color: #a684ff;
}


.displayNone{
    display: none;
}


@media (max-width: 1080px) {
    .logo::before{
        width: 1rem;

    }

}

@media (max-width: 1080px) {
    .logo::before{
        top: 0;
        left: 0;
        width: 100%;
        height: 1rem;
    }
    .login{         
        height: auto;
    }   
    .logo{
        height: 300px;
    }

    .form{
        height: fit-content;
        box-shadow: none;
    }

}

@media (max-width: 1080px) {


    .form {
        
        
        h1{
            font-size: 21px;
            line-height: 24px;
        }

        p{
            font-size: 16px;
            line-height: 24px;
        }
    }

}


