.logo, .form{
    position: relative;
    height: 100vh;
    padding: 32px;
}

.form{
    box-shadow: 0 4px 15px #00000040;
    h1{
        font-size: 24px;
        line-height: 24px;
    }

    p{
        font-size: 16px;
        line-height: 24px;
    }
   
    
}

.formContainer{
    max-width: 400px;
    
    label{
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 14px; 
        line-height: 16px;
        border: 1px solid #8282C6;
        svg{
            cursor: pointer;
            min-width: 24px;                    
        }
    }
    input{
        border: none;
        outline: none;
        font-size: 16px; 
        line-height: 24px;
        
    }
    input[type=submit]{
        border: 1px solid #8282C6;
        background-color: #8282C6;
        color: #fff;
        font-weight: 600;
    }
    input[type=submit]:hover{
        cursor: pointer;
        background-color: transparent;
        color: #8282C6;
        
    }
}


.logo::before{
    position: fixed;
    left: 0;
    content: '';
    width: 5rem;
    height: 100vh;
    background-color: #8282C6;
}


.displayNone{
    display: none;
}


@media (max-width: 1080px) {
    .logo::before{
        width: 1rem;

    }

}

@media (max-width: 1080px) {
    .logo::before{
        top: 0;
        left: 0;
        width: 100%;
        height: 1rem;
    }
    .login{         
        height: auto;
    }   
    .logo{
        height: 300px;
    }

    .form{
        height: fit-content;
        box-shadow: none;
    }

}

@media (max-width: 1080px) {


    .form {
        
        
        h1{
            font-size: 21px;
            line-height: 24px;
        }

        p{
            font-size: 16px;
            line-height: 24px;
        }
    }

}


