.ScheduleForm{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000041;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    

    section{
        max-width: 800px;
        width: 100%;
    }
}

